extends ../base/main

block variables
  - var pageTitle = 'Styleguide'
  //- - var baseUrlLvl = 1

block styles
  link(rel='stylesheet' href= URL_file('pages/styleguide', baseUrlLvl))

block content
  h1 Styleguide
  h2 Forms
  h3 Input
  //- INPUT START
  -
    var inputFields = {
      input1: {
        label: 'Name',
        value: 'Mike',
        disabled: false
      },
      input2: {
        label: 'Surname',
        value: '',
        disabled: false
      },
    }

  each val, key in inputFields
    div(class='form-input ' + (val.label ? ' m-label' : ''))
      input(type='text' value=val.value class=val.label ? 'js-form-input' : '')
      label=val.label
  //- INPUT END
  //- QTY START
  h3='Quantity'
  label.label='Quantity'
  .form-qty
    button.form-qty__btn.m-minus.js-form-qty-minus='-'
    input(type='number' value='1').form-qty__input.js-form-qty-input
    button.form-qty__btn.m-plus.js-form-qty-plus='+'
  
  //- QTY END

block scripts
  script(src= URL_file('pages/styleguide', baseUrlLvl, 'js'))
