extends ../base/main

block variables
  - var pageTitle = 'Styleguide'
  //- - var baseUrlLvl = 1

block styles
  link(rel='stylesheet' href= URL_file('pages/styleguide', baseUrlLvl))

block content
  h1 Styleguide
  h2 Forms
  h3 Input
  //- INPUT START
  -
    var inputFields = {
      input1: {
        label: 'Name',
        value: 'Mike',
        disabled: false
      },
      input2: {
        label: 'Surname',
        value: '',
        disabled: true
      },
    }

  each val, key in inputFields
    div(class='form-input ' + (val.label ? ' m-label' : ''))
      input(type='text' value=val.value class=val.label ? 'js-form-input' : '')
      label=val.label
  //- INPUT END
  //- QTY START
  -
    var qtyFields = {
      qty1: {
        label: 'Quantity 1',
        value: 1,
        min: 1,
        max: 5,
        disabled: false
      },
      qty2: {
        label: 'Quantity 2',
        value: 2,
        min: 1,
        max: 5,
        disabled: true
      },
    }
  h3='Quantity'
  each val, key in qtyFields
    .form-qty(class=val.disabled ? 'm-disabled' : '')
      label.form-qty__label=val.label
      button(type='button').form-qty__btn.m-minus
      input(type='number' value=val.value min=val.min max=val.max disabled=val.disabled tabindex=-1).form-qty__input.js-form-qty-input
      button(type='button').form-qty__btn.m-plus
  
  //- QTY END

block scripts
  script(src= URL_file('pages/styleguide', baseUrlLvl, 'js'))
