//- mixins
mixin listOfLinks(name)
  each key in mainNav
    if key.name == name
      h1= key.title
      ul.list
        each item in key.subNav
          li
            if item.linkOuter
              a(href=item.linkOuter class=`link_icon ${item.icon}` target="_blank")
            a(href=item.link).list-link= item.title

//- TODO: add classes
mixin icon(name)
  svg.icon
    use(xlink:href=`${URL_file('img/icons', baseUrlLvl, 'svg')}#${name}`)
